<div class="race{{class race}}">
  <p class="type">{{race}}</p>
  {{#each options}}
    {{#if showInOverview}}
      <p class="opt{{class shortName}}{{#if winner}} winner{{/if}}">{{shortName}}{{icon party}}{{#if winner}}<i class="icon-winner"></i>{{/if}}</i></p>
      <div class="progress-bar-indication{{class party}}">
        <div class="meter">
          <span class="bar" style="width: {{percent}}%"><span class="inside-label{{labelClass percent "inside"}}">{{shortPercent percent}}%</span></span>
          <span class="outside-label{{labelClass percent "outside"}}">{{shortPercent percent}}%</span>
        </div>
      </div>
    {{/if}}
  {{/each}}
  <div class="status">
    <p><a href="#/details/{{sheet}}"><i class="icon-expand"></i>Details</a></p>
  </div>
</div>
