<div class="race{{class race}}">
  <p class="type">{{race}}</p>
  {{#each options}}
    <p class="opt">{{shortName}}<img src="assets/elephant7.png"></p>
    <div class="progress-bar-indication{{class party}}">
      <span class="meter" style="width: {{percent}}%">
        <p>{{shortnum count}}</p>
      </span>
    </div>
  {{/each}}
  <div class="reporting">
    <p>{{reporting}}% reporting</p>
  </div>
</div>
