<h1>{{race}}</h1>
<div class="detail">
  <div class="opts">
    {{#each options}}
      <div class="opt">
        <h3>{{name}}</h3>
        <p>{{party}}<i class="{{icon party}}"></i></p>
        <p>{{longnum count}} votes ({{percent}}%)</p>
      </div>
    {{/each}}
  </div>
  <div class="chart">
    <h1>CHART</h1>
  </div>
</div>
<div class="status">
  <p>{{status}}</p>
</div>
