<p class="close"><a href="#/"><i class="icon-close"></i>Close</a></p>
<h1>{{raceLong}}</h1>
<div class="detail">
  <table class="opts">
    <thead>
      <tr>
        <th>Candidate</th>
        {{#if partisanRace}}
          <th>Party</th>
        {{/if}}
        <th>Votes</th>
        <th>Share</th>
      </tr>
    </thead>
    <tbody>
      {{#each options}}
        <tr>
          <td>{{name}}{{#if winner}}<i class="icon-winner"></i>{{/if}}</td>
          {{#if ../partisanRace}}
            <td>{{party}}</td>
          {{/if}}
          <td>{{longnum count}}</td>
          <td>{{percent}}%</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="status">
  <p><span>{{status}}</span> {{#if dataSource}}<span class="right">Source: {{dataSource}}</span>{{/if}}</p>
</div>
