<h1>{{race}}</h1>
<div class="detail">
  <table class="opts">
    <thead>
      <tr>
        <th>Candidate</th>
        <th>Party</th>
        <th>Votes</th>
        <th>Share</th>
      </tr>
    </thead>
    <tbody>
      {{#each options}}
        <tr>
          <td>{{name}}</td>
          <td>{{party}}</td>
          <td>{{longnum count}}</td>
          <td>{{percent}}%</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="status">
  <p><span>{{status}}</span> {{#if dataSource}}<span class="right">Source: {{dataSource}}</span>{{/if}}</p>
</div>
