<p class="close"><a href="#/"><i class="icon-close"></i>Close</a></p>
<ul class="horizontal-nav">
  {{#each links}}
    <li{{#if active}} class="active"{{/if}}><a href="{{url}}">{{race}}{{#if subtitle}}<br /><span>({{subtitle}})</span>{{/if}}</a></li>
  {{/each}}
</ul>
<div class="group-item">
  <h1>{{active.raceLong}}</h1>
  <div class="detail">
    <table class="opts">
      <thead>
        <tr>
          <th width="35%">Candidate</th>
          {{#if active.partisanRace}}
            <th>Party</th>
          {{/if}}
          <th>Votes</th>
          <th>Share</th>
        </tr>
      </thead>
      <tbody>
        {{#each active.options}}
          <tr>
            <td>{{name}}{{#if winner}}<i class="icon-winner"></i>{{/if}}</td>
            {{#if ../partisanRace}}
              <td>{{party}}</td>
            {{/if}}
            <td>{{longnum count}}</td>
            <td>{{percent}}%</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="status">
    <p>
      <span>{{active.status}}</span> {{#if active.dataSource}}<span class="right">Source: {{active.dataSource}}</span>{{/if}}
    </p>
  </div>
</div>
