<div class="race race-yesno{{class race}}">
  <p class="type">{{race}}</p>
  <div class="symbol">
    {{icon options.0.shortName}}
  </div>
  {{#each options}}
    <p class="opt">
      {{shortName}}<span class="count">{{shortnum count}}</span>
    </p>
  {{/each}}
  <div class="status">
    <p><a href="#/details/{{sheet}}"><i class="icon-expand"></i>Details</a></p>
  </div>
</div>
