<div class="race{{class race}}">
  <p class="type">{{race}}</p>
  <div class="legend">
    {{#each options}}
      <p class="opt"><span class="color{{class shortName}}"></span>{{shortName}}</p>
    {{/each}}
  </div>
  <div class="reporting">
    <p>{{reporting}}% reporting</p>
  </div>
</div>
