<div class="race race-yesno{{class race}}">
  <a href="#/details/{{sheet}}">
    <p class="type">{{race}}</p>
  </a>
  <div class="symbol">
    <i class="icon-yes"></i>
  </div>
  {{#each options}}
    <p class="opt">
      {{shortName}}<span class="count">{{shortnum count}}</span>
    </p>
  {{/each}}
  <div class="legend" style="display:none;">
    {{#each options}}
      <p class="opt"><span class="color{{class shortName}}"></span>{{shortName}}</p>
    {{/each}}
  </div>
  <div class="status">
    <p>{{status}}</p>
  </div>
</div>
